.gpt3__features{
    display: flex;
    justify-content: space-between;
   
}

.gpt3__features-heading{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    flex: 1;

    text-align: left;
    margin-right: 5rem; 
}

.gpt3__features-heading h1 {
font-size: clamp(2rem, 3vw, 4rem);
font-weight: 800;
line-height: 1.2;
}
.gpt3__features-heading p {
font-weight: 500;
font-size: 1rem;
line-height:1;
margin-top: 2rem;
color: var(--clr-accent-orange);
}

.gpt3__features-container{
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: space-between;

}

/* max-width: 990px */

@media (max-width: 61.875em){
    .gpt3__features{
        flex-direction: column;
    }
    .gpt3__features-heading {
       margin-bottom: 2rem;
       margin: 0;
    }

    .gpt3__features-heading h1 {
        font-size: 2rem;
       
    }
}

/* max-width: 550px */

@media (max-width: 34.375em)
{
    .gpt3__features-heading h1 {
        font-size: 1.75rem; 
        margin-bottom: 1rem;
    }
}