.gpt3__blog {
    flex-direction: column;
}

.gpt3__blog-heading{
    width:100%;
    text-align: left; 

    margin-bottom: 5rem;
}

.gpt3__blog-heading h2 {
    font-weight: 800;
    font-size: 3.875rem;
   

 
}


.gpt3__blog-container{
    display:grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "blog-A blog-B blog-C"
    "blog-A blog-D blog-E";
}

.gpt3__blog-container_A {grid-area: blog-A;}
.gpt3__blog-container_B {grid-area: blog-B }
.gpt3__blog-container_C {grid-area: blog-C }
.gpt3__blog-container_D {grid-area: blog-D }
.gpt3__blog-container_E {grid-area: blog-E }


.gpt3__blog-container_A .gpt3__blog-container_artilcle-content h3 {
    font-size:clamp(25px,2vw, 45px);
    line-height:1.2 ;
} 


@media (max-width:65.625em ){
    .gpt3__blog-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "blog-A blog-B"
        "blog-C blog-D" 
        "blog-E .";
}
.gpt3__blog-container_A img {
    aspect-ratio: 1/.4;
    object-fit: cover;
}
}



@media (max-width:43.75em ){
    .gpt3__blog-container{
       
        grid-template-columns: repeat(1,1fr);
       
        grid-template-areas: 
        "blog-A" 
        "blog-B"
        "blog-C"
        "blog-D" 
        "blog-E";
}


}



@media (max-width:34.3765em ){
    .gpt3__blog-heading h2 {
        font-size: 2.125rem;
       
      
    }
}