


.gpt3__navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    z-index: 9999;
}
.gpt3__navbar-links_container{
    display:flex;
    position: relative;
    justify-content: space-evenly;
}

.gpt3__navbar-links {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
   
}

.gpt3__navbar-logo_container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.gpt3__navbar-logo img{
    height: 1rem;
    width: 2rem;
}
.gpt3__navbar-menu{
    position: relative;
}
.menu__open, 
.menu__close{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    transform: translateY(-50%)
   
}
.menu__open{
    z-index: 1000;
}
.gpt3__navbar-menu-toggle {
   width: 50vw;
    opacity: 0;
    position:absolute;
    padding: 2rem;
    top:0;
    right:0;
    background-color: hsla(120, 6%, 3%, 0.85);;
    transition: opacity 300ms ease-in-out;
}

.open{
    opacity: 1;
}
    


.gpt3__navbar-menu-toggle > .gpt3__navbar-links{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   text-align: left;
}
.gpt3__navbar-links li:hover{
    background: white;
    color: black;
}
.gpt3__navbar-menu .gpt3__navbar-sign{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-top:2rem;
   gap:1rem;
}
.gpt3__navbar-sign {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.gpt3__navbar-sign a:hover, .gpt3__navbar-sign button:hover{
    background: white;
    color: black;
}
.gpt3__navbar-sign button , .gpt3__navbar-menu_sign button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 0;
    outline: 0;
    }

@media (max-width: 64em){
    .gpt3__navbar-links_container{
        display: none;
    }
}
@media (max-width: 43.75em ){
    .gpt3__navbar-sign {
        display:none;
    }
    
}

@media(min-width: 64em){
    .gpt3__navbar-menu{
        display:none;
    }
}
