
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');


:root {
   

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --clr-gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
   

    --clr-primary-400: hsl(210, 90%, 11%);
    
    --clr-primary-300: hsl(210, 91%, 17%);
    --clr-primary-200:hsl(210, 58%, 69%);
    --clr-accent-400:hsl(11, 100%, 72%);
    --clr-accent-900: hsl(11, 100%, 56%);
    --clr-accent-blue: hsla(191, 100%, 72%, 1);
    --clr-accent-orange: hsla(11, 100%, 72%, 1);
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-900: hsl(216, 71%, 5%);
    

      
        --fs-900:clamp(5rem,7vw + 1rem,9.375rem);
        --fs-800:3.875rem;
        --fs-700:1rem;
        --fs-400:1rem;
      
    



 
 --ff-primary:"Manrope", sans-serif;







}


