
.gpt3__header{
    flex-direction: row;
 
    
}
.gpt3__header-content{
    flex-direction: column;
    flex: 1;
    text-align:left;
    
}

.gradient__text {
    font-weight: 800;
    
} 



.gpt3__header-content__input{
   
    flex-direction: row;
    justify-content: space-around;
    margin-block: 1rem; 
}

.gpt3__header-content__input input{
    width: 100%;
    border: none;
    flex: 1;
    padding: 1rem 2rem; 
    margin: 0; 
    color:white;
    background: var(--clr-primary-400);
    border-radius: 0.3125em 0 0 0.3125em;
}
.gpt3__header-content__input button{
    border:none;
    text-transform: capitalize;
    width: max-content; 
    border-radius: 0 0.3125em 0.3125em 0;
    padding: 1rem 2rem;
    
   
}


.gpt3__header-content__people{
    align-items: center;
}

.gpt3__header-content__people p {
    margin-left:1rem;
    font-size: .875em; 
}
.gpt3__header-content__people img {
    width: 11.36875em;
    height: 2.375em;
   
}


.gpt3__header-image {
    flex: 1;
    display:flex; 
    justify-content: flex-end;
    align-items: flex-start; 
    

}
.gpt3__header-image img {
   width:100%;
}



@media (max-width: 65.625em){
    .gpt3__header{
        flex-direction: column; 
    }
  
    .gpt3__header-image{
        order: -1;
    }
}



@media (max-width: 40.625em){
    .gpt3__header h1{
        font-size: 3em;
        line-height: 3.75rem;
    }
    .gpt3__header p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .gpt3__header-content__people{
        flex-direction: column; 
    }
    .gpt3__header-content__input input ,
    .gpt3__header-content__input button {
        font-size: 1em; 
        line-height: 1.5em;
    }
}


@media (max-width: 30.625em){
    .gpt3__header h1{
        font-size: 2.25em;

    }
    .gpt3__header p {
        font-size: .875em;
    }
    .gpt3__header-content__input input ,
    .gpt3__header-content__input button {
        font-size: 0.75em; 
        line-height: 1em;
    }
}